/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


h1, p {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

.item {
  text-align: center;
  display: inline-block;
  background-color: #79CC91;
  height: 250px;
  width: 200px;
  border: 1px yellow solid;
  margin: 5px;
  overflow: scroll;
}

.field {
  height: 20px;
  width: 150px;

}

.inputs {
  display: flex;
  padding:10px;
  margin:0 auto;
  align-items: center;
  justify-content: center;

}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  justify-content: flex-end;
  align-self: flex-end;
}

iframe {
  opacity: .40;
  margin: 0;
  width: 100%;
  height: 100%; }


